
body,
html{
  height: 100%;
  width: 100%;
  background: url(h.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.tittle{
    color: white;
    text-transform: uppercase;
    font-family:  Courier, Monaco, monospace;
    font-size: 3rem
}

.btn-xl {
    padding: 1rem 1rem;
}
.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;

}
.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}
.btn-primary:hover {
  background-color: #EE4B08;
  border-color: #EE4B08
}

hr{
  background-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}
.buffer{
  height: 10rem;
}

